<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grab_Demo"
        tools:targetApi="31" >
        <activity
            android:name=".admin.sales.activity.UpdateCateSalesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.sales.activity.AddCateSalesActivity"
            android:exported="false" />
        <activity
            android:name=".store_owner.activity.ListQuanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.sales.activity.ListCateSalesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".deliver.activity.ChiTietDonHangNewActivity"
            android:exported="false" />
        <activity
            android:name=".SQLActivity"
            android:exported="true" />
        <activity
            android:name=".store_owner.activity.OrderHomeStoreOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".store_owner.activity.UpdateDishMenuActivity"
            android:exported="false" />
        <activity
            android:name=".store_owner.activity.AddDishMenuActivity"
            android:exported="false" />
        <activity
            android:name=".store_owner.activity.RegisterStoreActivity"
            android:exported="false" />
        <activity
            android:name=".deliver.activity.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".store_owner.activity.MenuHomeStoreOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".deliver.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterOwnerStoreActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterDeliverActivity"
            android:exported="false" />
        <activity
            android:name=".RoleRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deliver.activity.DriverHomeActivity"
            android:exported="true" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuKmyx1gcnPGGTu6VQCYtQTLSyINmL_2k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".deliver.activity.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activity_search"
            android:exported="true" />
        <activity
            android:name=".store_owner.activity.StoreOwnerActivity"
            android:exported="true" />
        <activity
            android:name=".customer.OderActivity"
            android:exported="false" />
        <activity
            android:name=".customer.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".customer.HomeActivity"
            android:exported="true" />
    </application>

</manifest>